doctype html
html(lang="en")
	head
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		h1 Hello World!
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js")
		script(src="js/script.js")